<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI" >
                <property  name="data_source" value="jdbc/MAPEADOR"/>
            </dataSource>
        </environment>
    </environments>    
    <mappers>
    	<mapper resource="mappers/estatusobjeto/MapEstatusObjeto.xml"/>
    	<mapper resource="mappers/canal/MapCanal.xml"/>
    	<mapper resource="mappers/pantalla/MapPantalla.xml"/>
    	<mapper resource="mx/com/bbva/mapeador/entity/tgm501pantalla/MapTgm501Pantalla.xml"/>
    	<mapper resource="mappers/cliente/MapCliente.xml"/>
    	<mapper resource="mappers/usuario/MapUsuario.xml"/>
    	<mapper resource="mappers/perfil/MapPerfil.xml"/>
    	<mapper resource="mappers/flujo/MapFlujo.xml"/>
    	<mapper resource="mappers/palabracomodin/MapPalabraComodin.xml"/>
    	<mapper resource="mappers/mensajesalida/MapMensajeSalida.xml"/>
    	<mapper resource="mappers/bitacora/MapBitacora.xml"/>
    	<mapper resource="mappers/evento/MapEvento.xml"/>
    	<mapper resource="mappers/componente/MapComponente.xml"/>
    </mappers>
</configuration>
