body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:200px;
    top:268px;
    width:912px;
    height:85px
}

.u1_normal {
    background-image: url('../007_Tipo_Archivo_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../007_Tipo_Archivo_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:266px;
    top:0px;
    width:641px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:647px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:637px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../007_Tipo_Archivo_files/u1_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:20px;
    width:266px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../007_Tipo_Archivo_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:266px;
    top:20px;
    width:641px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:647px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:637px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../007_Tipo_Archivo_files/u1_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:40px;
    width:266px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../007_Tipo_Archivo_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:266px;
    top:40px;
    width:641px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:647px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:637px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../007_Tipo_Archivo_files/u1_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:60px;
    width:266px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../007_Tipo_Archivo_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:266px;
    top:60px;
    width:641px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:647px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:637px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:401px;
    top:159px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:216px;
    top:28px;
    width:343px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:200px;
    top:242px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:955px;
    top:242px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:200px;
    top:95px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:297px;
    top:86px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:554px;
    top:95px;
    width:88px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:633px;
    top:86px;
    width:472px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:511px;
    top:159px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:621px;
    top:159px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_normal {
    background-image: url('../007_Tipo_Archivo_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:200px;
    top:184px;
    width:32px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u28 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../007_Tipo_Archivo_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:242px;
    top:184px;
    width:32px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:731px;
    top:159px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

