body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:522px;
    top:216px;
    width:381px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:537px;
    top:276px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:679px;
    top:271px;
    width:247px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:537px;
    top:309px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:679px;
    top:306px;
    width:247px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_line {
    background-image: url('../030_CambioContrasenia_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:451px;
    height:3px;
}

.u5 {
    position:absolute;
    left:500px;
    top:250px;
    width:451px;
    height:10px;
    
}

.u6 {
    position:absolute;
    left:628px;
    top:438px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:766px;
    top:438px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:537px;
    top:351px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:679px;
    top:348px;
    width:247px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:537px;
    top:386px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:679px;
    top:383px;
    width:247px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_normal {
    background-image: url('../030_CambioContrasenia_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:100px;
    top:105px;
    width:149px;
    height:1002px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:1008px;
}

.u13 {
    position:absolute;
    left:2px;
    top:493px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../030_CambioContrasenia_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:249px;
    top:0px;
    width:1100px;
    height:105px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:111px;
}

.u15 {
    position:absolute;
    left:2px;
    top:44px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_container {
    position:absolute;
    left:100px;
    top:0px;
    width:149px;
    height:105px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:105px;
}

.u17 {
    position:absolute;
    left:2px;
    top:44px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

