body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:202px;
    top:285px;
    width:997px;
    height:117px
}

.u1_normal {
    background-image: url('../013_Producto_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:36px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../013_Producto_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:175px;
    top:0px;
    width:336px;
    height:36px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:42px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../013_Producto_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:511px;
    top:0px;
    width:149px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../013_Producto_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:660px;
    top:0px;
    width:115px;
    height:36px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:42px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../013_Producto_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:775px;
    top:0px;
    width:136px;
    height:36px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:42px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../013_Producto_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:912px;
    top:0px;
    width:81px;
    height:36px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:42px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../013_Producto_files/u1_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:36px;
    width:175px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../013_Producto_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:175px;
    top:36px;
    width:336px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../013_Producto_files/u5_normal.png');
}

.u17_container {
    position:absolute;
    left:511px;
    top:36px;
    width:149px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../013_Producto_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:660px;
    top:36px;
    width:115px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../013_Producto_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:775px;
    top:36px;
    width:136px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../013_Producto_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:912px;
    top:36px;
    width:81px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../013_Producto_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:72px;
    width:175px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../013_Producto_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:175px;
    top:72px;
    width:336px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../013_Producto_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:511px;
    top:72px;
    width:149px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../013_Producto_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:660px;
    top:72px;
    width:115px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../013_Producto_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:775px;
    top:72px;
    width:136px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../013_Producto_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:912px;
    top:72px;
    width:81px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../013_Producto_files/u25_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:92px;
    width:175px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../013_Producto_files/u27_normal.png');
}

.u39_container {
    position:absolute;
    left:175px;
    top:92px;
    width:336px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:342px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../013_Producto_files/u29_normal.png');
}

.u41_container {
    position:absolute;
    left:511px;
    top:92px;
    width:149px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../013_Producto_files/u31_normal.png');
}

.u43_container {
    position:absolute;
    left:660px;
    top:92px;
    width:115px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../013_Producto_files/u33_normal.png');
}

.u45_container {
    position:absolute;
    left:775px;
    top:92px;
    width:136px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../013_Producto_files/u35_normal.png');
}

.u47_container {
    position:absolute;
    left:912px;
    top:92px;
    width:81px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:218px;
    top:28px;
    width:343px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:202px;
    top:260px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:957px;
    top:260px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:202px;
    top:95px;
    width:127px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:745px;
    top:95px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:884px;
    top:86px;
    width:223px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:202px;
    top:142px;
    width:142px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:344px;
    top:133px;
    width:763px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:582px;
    top:212px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:704px;
    top:212px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:381px;
    top:88px;
    width:235px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:202px;
    top:183px;
    width:183px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:300px;
    top:180px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62_normal {
    background-image: url('../013_Producto_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:202px;
    top:218px;
    width:32px;
    height:32px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u63 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../013_Producto_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:244px;
    top:218px;
    width:32px;
    height:32px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u65 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:512px;
    top:179px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:584px;
    top:174px;
    width:186px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:901px;
    top:177px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:780px;
    top:182px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:827px;
    top:212px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

