<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
  
<web-app>
	<display-name>MonitorGMM</display-name>
	<context-param>
	<param-name>contextConfigLocation</param-name>
    <param-value>      
    		 /WEB-INF/mws-init-config.xml,
    		 /WEB-INF/mws-database-config.xml,
            classpath:daos-config.xml,
            classpath:servicios-config.xml
    </param-value>
  </context-param>  
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  
  <context-param>
        <param-name>com.icesoft.faces.standardRequestScope</param-name>
        <param-value>false</param-value>
    </context-param>
  <context-param> 
		<param-name>com.icesoft.faces.sessionExpiredRedirectURI</param-name> 
		<param-value>/session-ice_fix.jsp</param-value> 
</context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    
    <param-value>.jspx</param-value>
  </context-param>
  <context-param>       
    <param-name>com.icesoft.faces.concurrentDOMViews</param-name>
    <param-value>true</param-value>
    <description>To allow multiple windows for a single application.</description>    
  </context-param>
  <context-param>    
    <param-name>com.icesoft.faces.synchronousUpdate</param-name>
    <param-value>false</param-value>
    <description>Turn on/off application-wide synchronous or asynchronous updates.  </description>
  </context-param>
  <context-param>        
    <param-name>com.icesoft.faces.gmapKey</param-name>
    <param-value>ABQIAAAADlu0ZiSTam64EKaCQr9eTRTOTuQNzJNXRlYRLknj4cQ89tFfpxTEqxQnVWL4k55OPICgF5_SOZE06A</param-value>
    <description>Google Maps API key is required if gMap component is used. Sign up for an API key from http://code.google.com/apis/maps/signup.html</description>    
  </context-param>
  
  <!-- Timing  -->
    <context-param>
        <param-name>com.icesoft.faces.connectionTimeout</param-name>
        <param-value>3600000</param-value>
    </context-param>
  <!--
  <context-param>
    <param-name>com.icesoft.faces.uploadDirectory</param-name>
    <param-value>upload</param-value>
  </context-param>
  -->
  <context-param>
    <param-name>com.icesoft.faces.uploadMaxFileSize</param-name>
    <param-value>4048576</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
      <listener-class>
          com.bancomer.gis.monitorwebswift.controllers.InputFileSessionCleaner
      </listener-class>
  </listener>
	 
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Blocking Servlet</servlet-name>
    <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
	 <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
	
	<servlet>
		<servlet-name>FindFile</servlet-name>
		<display-name>FindFile</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.FindFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Document</servlet-name>
		<display-name>Document</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.Document</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExternFile</servlet-name>
		<display-name>ExternFile</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ExternFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindFileSwiftDetail</servlet-name>
		<display-name>FindFileSwiftDetail</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.FindFileSwiftDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteOneSession</servlet-name>
		<display-name>DeleteOneSession</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.DeleteOneSession</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadGroups</servlet-name>
		<display-name>LoadGroups</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.LoadGroups</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctosXliga</servlet-name>
		<display-name>DoctosXliga</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.DoctosXliga</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatisticsMonthlyVenezuelaServlet</servlet-name>
		<display-name>StatisticsMonthlyVenezuelaServlet</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.StatisticsMonthlyVenezuelaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatisticsYearVenezuelaServlet</servlet-name>
		<display-name>StatisticsYearVenezuelaServlet</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.StatisticsYearVenezuelaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadProducts</servlet-name>
		<display-name>LoadProducts</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.LoadProducts</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Products</servlet-name>
		<display-name>Products</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.Products</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMask</servlet-name>
		<display-name>UpdateMask</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.UpdateMask</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMaskDescription</servlet-name>
		<display-name>UpdateMaskDescription</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.UpdateMaskDescription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadImageNews</servlet-name>
		<display-name>LoadImageNews</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.LoadImageNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateNewsInformation</servlet-name>
		<display-name>UpdateNewsInformation</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.UpdateNewsInformation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveOrderNews</servlet-name>
		<display-name>SaveOrderNews</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.SaveOrderNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteNews</servlet-name>
		<display-name>DeleteNews</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.DeleteNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteGestionExcel</servlet-name>
		<display-name>ReporteGestionExcel</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteGestionExcel</servlet-class>
	</servlet>
	 <!--  
	<servlet>
		<servlet-name>ReporteArchH2H</servlet-name>
		<display-name>ReporteArchH2H</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteArchH2H</servlet-class>
	</servlet>
	-->
	<servlet>
		<servlet-name>ReporteClientes3A</servlet-name>
		<display-name>ReporteClientes3A</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteClientes3A</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ReporteCuentaBuzon_CGS</servlet-name>
		<display-name>ReporteCuentaBuzon_CGS</display-name>
		<description></description>
		<servlet-class>com.bancomer.gis.monitorwebswift.servlets.ReporteCuentaBuzon_CGS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MT940RepteCtaBuzon</servlet-name>
		<display-name>MT940RepteCtaBuzon</display-name>
		<description></description>
		<servlet-class>com.bancomer.gis.monitorwebswift.servlets.MT940RepteCtaBuzon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MT94XRepteCtaBuzon</servlet-name>
		<display-name>MT94XRepteCtaBuzon</display-name>
		<description></description>
		<servlet-class>com.bancomer.gis.monitorwebswift.servlets.MT94XRepteCtaBuzon</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>ReporteContabilidadMT94X</servlet-name>
        <display-name>ReporteContabilidadMT94X</display-name>
        <description></description>
        <servlet-class>
        com.bancomer.gis.monitorwebswift.servlets.ReporteContabilidadMT94X</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>MT940PwdOperacionServlet</servlet-name>
		<display-name>MT940PwdOperacionServlet</display-name>
		<description></description>
		<servlet-class>com.bancomer.gis.monitorwebswift.servlets.MT940PwdOperacionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteOperacionesProcesadasMT94XServlet</servlet-name>
		<display-name>ReporteOperacionesProcesadasMT94XServlet</display-name>
		<description></description>
		<servlet-class>com.bancomer.gis.monitorwebswift.servlets.ReporteOperacionesProcesadasMT94X</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>MT940CambiaPasswordServlet</servlet-name>
		<display-name>MT940CambiaPasswordServlet</display-name>
		<description></description>
		<servlet-class>com.bancomer.gis.monitorwebswift.servlets.MT940CambiaPasswordServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>ReporteContabilidad</servlet-name>
        <display-name>ReporteContabilidad</display-name>
        <description></description>
        <servlet-class>
        com.bancomer.gis.monitorwebswift.servlets.ReporteContabilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteContabilidad_CGS</servlet-name>
        <display-name>ReporteContabilidad_CGS</display-name>
        <description></description>
        <servlet-class>
        com.bancomer.gis.monitorwebswift.servlets.ReporteContabilidad_CGS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteMensajesMT940</servlet-name>
        <display-name>ReporteMensajesMT940</display-name>
        <description></description>
        <servlet-class>
        com.bancomer.gis.monitorwebswift.servlets.ReporteMensajesMT940</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ReporteMensajesMT940_CGS</servlet-name>
        <display-name>ReporteMensajesMT940_CGS</display-name>
        <description></description>
        <servlet-class>
        com.bancomer.gis.monitorwebswift.servlets.ReporteMensajesMT940_CGS</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>ResetUser</servlet-name>
		<display-name>ResetUser</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ResetUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidateSession</servlet-name>
		<display-name>ValidateSession</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ValidateSession</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadEvents</servlet-name>
		<display-name>LoadEvents</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.LoadEvents</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HistogramDispersionExcel</servlet-name>
		<display-name>HistogramDispersionExcel</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.HistogramDispersionExcel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DerramaCostosExcel</servlet-name>
		<display-name>DerramaCostosExcel</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.DerramaCostosExcel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CombosMessagesReport</servlet-name>
		<display-name>CombosMessagesReport</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.CombosMessagesReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageReportExcel</servlet-name>
		<display-name>MessageReportExcel</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.MessageReportExcel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveRating</servlet-name>
		<display-name>SaveRating</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.SaveRating</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteRechazosMT202Excel_CGS</servlet-name>
		<display-name>ReporteRechazosMT202Excel_CGS</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteRechazosMT202Excel_CGS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MT202RechazosReporteExcel</servlet-name>
		<display-name>MT202RechazosReporteExcel</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.MT202RechazosReporteExcel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteRMAExcel</servlet-name>
		<display-name>ReporteRMAExcel</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteRMAExcel</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteMT101Procesados</servlet-name>
		<display-name>ReporteMT101Procesados</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteMT101Procesados</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteMT101ProcDetalle</servlet-name>
		<display-name>ReporteMT101ProcDetalle</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteMT101ProcDetalle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteMT101ProcError</servlet-name>
		<display-name>ReporteMT101ProcError</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteMT101ProcError</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReporteMT101HistorialFolio</servlet-name>
		<display-name>ReporteMT101HistorialFolio</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ReporteMT101HistorialFolio</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadFile</servlet-name>
		<display-name>LoadFile</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.LoadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransfDatos</servlet-name>
		<display-name>TransfDatos</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.TransfDatos</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfUtilerias</servlet-name>
		<display-name>ConfUtilerias</display-name>
		<description></description>
		<servlet-class>
		com.bancomer.gis.monitorwebswift.servlets.ConfUtilerias</servlet-class>
	</servlet>

    <servlet>
    	<servlet-name>TransfDatosArchivo</servlet-name>
    	<display-name>TransfDatosArchivo</display-name>
    	<description></description>
    	<servlet-class>
    	com.bancomer.gis.monitorwebswift.servlets.TransfDatosArchivo</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ReporteMT101Ops</servlet-name>
    	<display-name>ReporteMT101Ops</display-name>
    	<description></description>
    	<servlet-class>
    	com.bancomer.gis.monitorwebswift.servlets.ReporteMT101Ops</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ReporteRecepcionArchivos</servlet-name>
    	<display-name>ReporteRecepcionArchivos</display-name>
    	<description></description>
    	<servlet-class>
    	com.bancomer.gis.monitorwebswift.servlets.ReporteRecepcionArchivos</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ReporteACHPagos</servlet-name>
    	<display-name>ReporteACHPagos</display-name>
    	<description></description>
    	<servlet-class>
    	com.bancomer.gis.monitorwebswift.servlets.ReporteACHPagos</servlet-class>
    </servlet>
	<servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>*.iface</url-pattern>    
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>       
    <url-pattern>/xmlhttp/*</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>*.jspx</url-pattern>    
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Blocking Servlet</servlet-name>
    <url-pattern>/block/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadHtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindFile</servlet-name>
		<url-pattern>/FindFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Document</servlet-name>
		<url-pattern>/Document</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExternFile</servlet-name>
		<url-pattern>/ExternFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindFileSwiftDetail</servlet-name>
		<url-pattern>/FindFileSwiftDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOneSession</servlet-name>
		<url-pattern>/DeleteOneSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadGroups</servlet-name>
		<url-pattern>/LoadGroups</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctosXliga</servlet-name>
		<url-pattern>/DoctosXliga</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatisticsMonthlyVenezuelaServlet</servlet-name>
		<url-pattern>/StatisticsMonthlyVenezuelaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatisticsYearVenezuelaServlet</servlet-name>
		<url-pattern>/StatisticsYearVenezuelaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadProducts</servlet-name>
		<url-pattern>/LoadProducts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Products</servlet-name>
		<url-pattern>/Products</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMask</servlet-name>
		<url-pattern>/UpdateMask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMaskDescription</servlet-name>
		<url-pattern>/UpdateMaskDescription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadImageNews</servlet-name>
		<url-pattern>/LoadImageNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateNewsInformation</servlet-name>
		<url-pattern>/UpdateNewsInformation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveOrderNews</servlet-name>
		<url-pattern>/SaveOrderNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteNews</servlet-name>
		<url-pattern>/DeleteNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteGestionExcel</servlet-name>
		<url-pattern>/ReporteGestionExcel</url-pattern>
	</servlet-mapping>
	<!--  
	<servlet-mapping>
		<servlet-name>ReporteArchH2H</servlet-name>
		<url-pattern>/ReporteArchH2H</url-pattern>
	</servlet-mapping>
	-->
	<servlet-mapping>
		<servlet-name>ReporteClientes3A</servlet-name>
		<url-pattern>/ReporteClientes3A</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteCuentaBuzon_CGS</servlet-name>
		<url-pattern>/ReporteCuentaBuzon_CGS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MT940RepteCtaBuzon</servlet-name>
		<url-pattern>/MT940RepteCtaBuzon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>ReporteContabilidad</servlet-name>
        <url-pattern>/ReporteContabilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteRecepcionArchivos</servlet-name>
        <url-pattern>/ReporteRecepcionArchivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteContabilidad_CGS</servlet-name>
        <url-pattern>/ReporteContabilidad_CGS</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ReporteMensajesMT940</servlet-name>
        <url-pattern>/ReporteMensajesMT940</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ReporteMensajesMT940_CGS</servlet-name>
        <url-pattern>/ReporteMensajesMT940_CGS</url-pattern>
    </servlet-mapping>  
	<servlet-mapping>
		<servlet-name>ResetUser</servlet-name>
		<url-pattern>/ResetUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateSession</servlet-name>
		<url-pattern>/ValidateSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadEvents</servlet-name>
		<url-pattern>/LoadEvents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HistogramDispersionExcel</servlet-name>
		<url-pattern>/HistogramDispersionExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DerramaCostosExcel</servlet-name>
		<url-pattern>/DerramaCostosExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CombosMessagesReport</servlet-name>
		<url-pattern>/CombosMessagesReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageReportExcel</servlet-name>
		<url-pattern>/MessageReportExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveRating</servlet-name>
		<url-pattern>/SaveRating</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteRechazosMT202Excel_CGS</servlet-name>
		<url-pattern>/ReporteRechazosMT202Excel_CGS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MT202RechazosReporteExcel</servlet-name>
		<url-pattern>/MT202RechazosReporteExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteRMAExcel</servlet-name>
		<url-pattern>/ReporteRMAExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteMT101Procesados</servlet-name>
		<url-pattern>/ReporteMT101Procesados</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteMT101ProcDetalle</servlet-name>
		<url-pattern>/ReporteMT101ProcDetalle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteMT101ProcError</servlet-name>
		<url-pattern>/ReporteMT101ProcError</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteMT101HistorialFolio</servlet-name>
		<url-pattern>/ReporteMT101HistorialFolio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadFile</servlet-name>
		<url-pattern>/LoadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransfDatos</servlet-name>
		<url-pattern>/TransfDatos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfUtilerias</servlet-name>
		<url-pattern>/ConfUtilerias</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransfDatosArchivo</servlet-name>
		<url-pattern>/TransfDatosArchivo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteMT101Ops</servlet-name>
		<url-pattern>/ReporteMT101Ops</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteACHPagos</servlet-name>
		<url-pattern>/ReporteACHPagos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MT94XRepteCtaBuzon</servlet-name>
		<url-pattern>/MT94XRepteCtaBuzon</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ReporteContabilidadMT94X</servlet-name>
        <url-pattern>/ReporteContabilidadMT94X</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>MT940PwdOperacionServlet</servlet-name>
		<url-pattern>/MT940PwdOperacionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MT940CambiaPasswordServlet</servlet-name>
		<url-pattern>/MT940CambiaPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReporteOperacionesProcesadasMT94XServlet</servlet-name>
		<url-pattern>/ReporteOperacionesProcesadasMT94XServlet</url-pattern>
	</servlet-mapping>	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>monitorwebswift.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/paginas-error/pageNotFound.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/paginas-error/pageServerError.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/pageServerError.jsp</location>
	</error-page>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
	</taglib>
	
	<!-- JNDI para oracle 
	<resource-ref>
		<res-ref-name>jdbc/MonitorWebSwiftOracleJNDI</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>	
	</resource-ref>
	-->
	<!-- JNDI para sql SWIFT 
	<resource-ref>
        <res-ref-name>jdbc/MonitorWebSwiftSQLSWIFTJNDI</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>    
    </resource-ref>
    -->
    <!-- JNDI para sql MONITOR 
    <resource-ref>
        <res-ref-name>jdbc/MonitorWebSwiftSQLMONITORJNDI</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>    
    </resource-ref>
    -->
</web-app>