body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:200px;
    top:252px;
    width:912px;
    height:85px
}

.u1_normal {
    background-image: url('../017_Reporte_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../017_Reporte_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:168px;
    top:0px;
    width:123px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../017_Reporte_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:291px;
    top:0px;
    width:456px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:452px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../017_Reporte_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:747px;
    top:0px;
    width:160px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../017_Reporte_files/u1_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:20px;
    width:168px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../017_Reporte_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:168px;
    top:20px;
    width:123px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../017_Reporte_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:291px;
    top:20px;
    width:456px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:452px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../017_Reporte_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:747px;
    top:20px;
    width:160px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../017_Reporte_files/u1_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:40px;
    width:168px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../017_Reporte_files/u3_normal.png');
}

.u19_container {
    position:absolute;
    left:168px;
    top:40px;
    width:123px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../017_Reporte_files/u5_normal.png');
}

.u21_container {
    position:absolute;
    left:291px;
    top:40px;
    width:456px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:452px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../017_Reporte_files/u7_normal.png');
}

.u23_container {
    position:absolute;
    left:747px;
    top:40px;
    width:160px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../017_Reporte_files/u1_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:60px;
    width:168px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../017_Reporte_files/u3_normal.png');
}

.u27_container {
    position:absolute;
    left:168px;
    top:60px;
    width:123px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../017_Reporte_files/u5_normal.png');
}

.u29_container {
    position:absolute;
    left:291px;
    top:60px;
    width:456px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:452px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../017_Reporte_files/u7_normal.png');
}

.u31_container {
    position:absolute;
    left:747px;
    top:60px;
    width:160px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:216px;
    top:28px;
    width:343px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:200px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:955px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:200px;
    top:95px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:200px;
    top:142px;
    width:152px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:343px;
    top:133px;
    width:761px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:534px;
    top:179px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:690px;
    top:179px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:623px;
    top:86px;
    width:198px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:497px;
    top:92px;
    width:84px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:288px;
    top:86px;
    width:160px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_normal {
    background-image: url('../017_Reporte_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:200px;
    top:194px;
    width:32px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../017_Reporte_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:242px;
    top:194px;
    width:32px;
    height:32px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:858px;
    top:89px;
    width:85px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:924px;
    top:86px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:820px;
    top:179px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

