body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_normal {
    background-image: url('../MainMenu_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:249px;
    top:0px;
    width:1200px;
    height:105px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:111px;
}

.u2 {
    position:absolute;
    left:2px;
    top:44px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_menu {
    background-image: url('../MainMenu_files/u3_menu.png');
}

.u3_menu {
    position:absolute;
    left:262px;
    top:56px;
    width:788px;
    height:35px;
}

#u3_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:785px;
    height:32px;
}

#u4 {
    position:absolute;
    left:3px;
    top:3px;
    width:778px;
    height:25px
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:100px;
    top:0px;
    width:97px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:197px;
    top:0px;
    width:97px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:294px;
    top:0px;
    width:97px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:391px;
    top:0px;
    width:91px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:482px;
    top:0px;
    width:97px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:579px;
    top:0px;
    width:97px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:676px;
    top:0px;
    width:97px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_menu {
    background-image: url('../MainMenu_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:579px;
    top:20px;
    width:126px;
    height:55px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:52px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:116px;
    height:45px
}

.u23_normal {
    background-image: url('../MainMenu_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MainMenu_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:20px;
    width:111px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_menu {
    background-image: url('../MainMenu_files/u27_menu.png');
}

.u27_menu {
    position:absolute;
    left:391px;
    top:20px;
    width:147px;
    height:56px;
}

#u27_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:53px;
}

#u28 {
    position:absolute;
    left:3px;
    top:3px;
    width:137px;
    height:46px
}

.u29_normal {
    background-image: url('../MainMenu_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../MainMenu_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:20px;
    width:132px;
    height:21px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:27px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_menu {
    background-image: url('../MainMenu_files/u33_menu.png');
}

.u33_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:183px;
    height:117px;
}

#u33_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:114px;
}

#u34 {
    position:absolute;
    left:3px;
    top:3px;
    width:173px;
    height:107px
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:0px;
    top:20px;
    width:168px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:0px;
    top:40px;
    width:168px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:0px;
    top:60px;
    width:168px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u43_container {
    position:absolute;
    left:0px;
    top:80px;
    width:168px;
    height:22px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:28px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_menu {
    background-image: url('../MainMenu_files/u45_menu.png');
}

.u45_menu {
    position:absolute;
    left:482px;
    top:20px;
    width:115px;
    height:55px;
}

#u45_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:52px;
}

#u46 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:45px
}

.u47_normal {
    background-image: url('../MainMenu_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../MainMenu_files/u47_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_menu {
    background-image: url('../MainMenu_files/u51_menu.png');
}

.u51_menu {
    position:absolute;
    left:676px;
    top:20px;
    width:169px;
    height:75px;
}

#u51_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:72px;
}

#u52 {
    position:absolute;
    left:3px;
    top:3px;
    width:159px;
    height:65px
}

.u53_normal {
    background-image: url('../MainMenu_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../MainMenu_files/u53_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:20px;
    width:154px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../MainMenu_files/u53_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:40px;
    width:154px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_menu {
    background-image: url('../MainMenu_files/u59_menu.png');
}

.u59_menu {
    position:absolute;
    left:100px;
    top:20px;
    width:146px;
    height:75px;
}

#u59_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:72px;
}

#u60 {
    position:absolute;
    left:3px;
    top:3px;
    width:136px;
    height:65px
}

.u61_normal {
    background-image: url('../MainMenu_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../MainMenu_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:20px;
    width:131px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../MainMenu_files/u61_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:40px;
    width:131px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_container {
    position:absolute;
    left:100px;
    top:0px;
    width:149px;
    height:105px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:105px;
}

.u68 {
    position:absolute;
    left:2px;
    top:44px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../MainMenu_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:100px;
    top:105px;
    width:149px;
    height:686px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:692px;
}

.u70 {
    position:absolute;
    left:2px;
    top:335px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

