body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:550px;
    top:43px;
    width:293px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../014_CatClientes_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:271px;
    top:237px;
    width:32px;
    height:32px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u2 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:638px;
    top:102px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:768px;
    top:97px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_normal {
    background-image: url('../014_CatClientes_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:313px;
    top:237px;
    width:32px;
    height:32px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../014_CatClientes_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:686px;
    height:3px;
}

.u7 {
    position:absolute;
    left:250px;
    top:77px;
    width:686px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:638px;
    top:179px;
    width:85px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:768px;
    top:167px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../014_CatClientes_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:375px;
    top:268px;
    width:520px;
    height:33px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:520px;
    height:33px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:638px;
    top:139px;
    width:120px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:768px;
    top:132px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:580px;
    top:211px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:453px;
    top:211px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u16 {
    position:absolute;
    left:250px;
    top:302px;
    width:781px;
    height:194px
}

.u17_normal {
    background-image: url('../014_CatClientes_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:93px;
    height:37px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:43px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../014_CatClientes_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:93px;
    top:0px;
    width:100px;
    height:37px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../014_CatClientes_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:193px;
    top:0px;
    width:203px;
    height:37px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:43px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../014_CatClientes_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:396px;
    top:0px;
    width:128px;
    height:37px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:43px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../014_CatClientes_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:524px;
    top:0px;
    width:163px;
    height:37px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:43px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../014_CatClientes_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:687px;
    top:0px;
    width:89px;
    height:37px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:43px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../014_CatClientes_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:37px;
    width:93px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../014_CatClientes_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:93px;
    top:37px;
    width:100px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../014_CatClientes_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:193px;
    top:37px;
    width:203px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../014_CatClientes_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:396px;
    top:37px;
    width:128px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../014_CatClientes_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:524px;
    top:37px;
    width:163px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../014_CatClientes_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:687px;
    top:37px;
    width:89px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../014_CatClientes_files/u29_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:73px;
    width:93px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../014_CatClientes_files/u31_normal.png');
}

.u43_container {
    position:absolute;
    left:93px;
    top:73px;
    width:100px;
    height:36px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../014_CatClientes_files/u33_normal.png');
}

.u45_container {
    position:absolute;
    left:193px;
    top:73px;
    width:203px;
    height:36px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:42px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:199px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../014_CatClientes_files/u35_normal.png');
}

.u47_container {
    position:absolute;
    left:396px;
    top:73px;
    width:128px;
    height:36px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:42px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../014_CatClientes_files/u37_normal.png');
}

.u49_container {
    position:absolute;
    left:524px;
    top:73px;
    width:163px;
    height:36px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:42px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../014_CatClientes_files/u39_normal.png');
}

.u51_container {
    position:absolute;
    left:687px;
    top:73px;
    width:89px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:42px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../014_CatClientes_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:109px;
    width:93px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../014_CatClientes_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:93px;
    top:109px;
    width:100px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../014_CatClientes_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:193px;
    top:109px;
    width:203px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../014_CatClientes_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:396px;
    top:109px;
    width:128px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../014_CatClientes_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:524px;
    top:109px;
    width:163px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../014_CatClientes_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:687px;
    top:109px;
    width:89px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../014_CatClientes_files/u53_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:129px;
    width:93px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../014_CatClientes_files/u55_normal.png');
}

.u67_container {
    position:absolute;
    left:93px;
    top:129px;
    width:100px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../014_CatClientes_files/u57_normal.png');
}

.u69_container {
    position:absolute;
    left:193px;
    top:129px;
    width:203px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../014_CatClientes_files/u59_normal.png');
}

.u71_container {
    position:absolute;
    left:396px;
    top:129px;
    width:128px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../014_CatClientes_files/u61_normal.png');
}

.u73_container {
    position:absolute;
    left:524px;
    top:129px;
    width:163px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../014_CatClientes_files/u63_normal.png');
}

.u75_container {
    position:absolute;
    left:687px;
    top:129px;
    width:89px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../014_CatClientes_files/u53_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:149px;
    width:93px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../014_CatClientes_files/u55_normal.png');
}

.u79_container {
    position:absolute;
    left:93px;
    top:149px;
    width:100px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../014_CatClientes_files/u57_normal.png');
}

.u81_container {
    position:absolute;
    left:193px;
    top:149px;
    width:203px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../014_CatClientes_files/u59_normal.png');
}

.u83_container {
    position:absolute;
    left:396px;
    top:149px;
    width:128px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../014_CatClientes_files/u61_normal.png');
}

.u85_container {
    position:absolute;
    left:524px;
    top:149px;
    width:163px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../014_CatClientes_files/u63_normal.png');
}

.u87_container {
    position:absolute;
    left:687px;
    top:149px;
    width:89px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../014_CatClientes_files/u53_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:169px;
    width:93px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../014_CatClientes_files/u55_normal.png');
}

.u91_container {
    position:absolute;
    left:93px;
    top:169px;
    width:100px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../014_CatClientes_files/u57_normal.png');
}

.u93_container {
    position:absolute;
    left:193px;
    top:169px;
    width:203px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../014_CatClientes_files/u59_normal.png');
}

.u95_container {
    position:absolute;
    left:396px;
    top:169px;
    width:128px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../014_CatClientes_files/u61_normal.png');
}

.u97_container {
    position:absolute;
    left:524px;
    top:169px;
    width:163px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../014_CatClientes_files/u63_normal.png');
}

.u99_container {
    position:absolute;
    left:687px;
    top:169px;
    width:89px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:706px;
    top:211px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:279px;
    top:144px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:421px;
    top:134px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:277px;
    top:179px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:421px;
    top:169px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106 {
    position:absolute;
    left:279px;
    top:103px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:421px;
    top:99px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

