body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:200px;
    top:252px;
    width:910px;
    height:85px
}

.u1_normal {
    background-image: url('../023_Permiso_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../023_Permiso_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:247px;
    top:0px;
    width:313px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:319px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../023_Permiso_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:560px;
    top:0px;
    width:345px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../023_Permiso_files/u1_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:20px;
    width:247px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../023_Permiso_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:247px;
    top:20px;
    width:313px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:319px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../023_Permiso_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:560px;
    top:20px;
    width:345px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../023_Permiso_files/u1_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:40px;
    width:247px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../023_Permiso_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:247px;
    top:40px;
    width:313px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:319px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../023_Permiso_files/u5_normal.png');
}

.u17_container {
    position:absolute;
    left:560px;
    top:40px;
    width:345px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../023_Permiso_files/u1_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:60px;
    width:247px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../023_Permiso_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:247px;
    top:60px;
    width:313px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:319px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../023_Permiso_files/u5_normal.png');
}

.u23_container {
    position:absolute;
    left:560px;
    top:60px;
    width:345px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:216px;
    top:28px;
    width:343px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:200px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:955px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:442px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:598px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:764px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:240px;
    top:89px;
    width:198px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:200px;
    top:95px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:557px;
    top:89px;
    width:198px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:498px;
    top:95px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:907px;
    top:89px;
    width:198px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:827px;
    top:95px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../023_Permiso_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:200px;
    top:184px;
    width:32px;
    height:32px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../023_Permiso_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:242px;
    top:184px;
    width:32px;
    height:32px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:907px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

