body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:200px;
    top:252px;
    width:911px;
    height:101px
}

.u1_normal {
    background-image: url('../021_Pantalla_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:20px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:26px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../021_Pantalla_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:118px;
    top:0px;
    width:146px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../021_Pantalla_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:264px;
    top:0px;
    width:227px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:233px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../021_Pantalla_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:491px;
    top:0px;
    width:183px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../021_Pantalla_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:674px;
    top:0px;
    width:72px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../021_Pantalla_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:746px;
    top:0px;
    width:160px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../021_Pantalla_files/u1_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:20px;
    width:118px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../021_Pantalla_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:118px;
    top:20px;
    width:146px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../021_Pantalla_files/u5_normal.png');
}

.u17_container {
    position:absolute;
    left:264px;
    top:20px;
    width:227px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:233px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../021_Pantalla_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:491px;
    top:20px;
    width:183px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../021_Pantalla_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:674px;
    top:20px;
    width:72px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../021_Pantalla_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:746px;
    top:20px;
    width:160px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../021_Pantalla_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:40px;
    width:118px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../021_Pantalla_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:118px;
    top:40px;
    width:146px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../021_Pantalla_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:264px;
    top:40px;
    width:227px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:233px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:223px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../021_Pantalla_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:491px;
    top:40px;
    width:183px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../021_Pantalla_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:674px;
    top:40px;
    width:72px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../021_Pantalla_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:746px;
    top:40px;
    width:160px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../021_Pantalla_files/u1_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:76px;
    width:118px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../021_Pantalla_files/u3_normal.png');
}

.u39_container {
    position:absolute;
    left:118px;
    top:76px;
    width:146px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../021_Pantalla_files/u5_normal.png');
}

.u41_container {
    position:absolute;
    left:264px;
    top:76px;
    width:227px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:233px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../021_Pantalla_files/u7_normal.png');
}

.u43_container {
    position:absolute;
    left:491px;
    top:76px;
    width:183px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../021_Pantalla_files/u9_normal.png');
}

.u45_container {
    position:absolute;
    left:674px;
    top:76px;
    width:72px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../021_Pantalla_files/u11_normal.png');
}

.u47_container {
    position:absolute;
    left:746px;
    top:76px;
    width:160px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:216px;
    top:28px;
    width:343px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:200px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:955px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:532px;
    top:95px;
    width:111px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:991px;
    top:142px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1037px;
    top:133px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:200px;
    top:142px;
    width:78px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:236px;
    top:133px;
    width:302px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:442px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:598px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:294px;
    top:89px;
    width:198px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:582px;
    top:142px;
    width:39px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:622px;
    top:133px;
    width:336px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:200px;
    top:95px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:643px;
    top:86px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64_normal {
    background-image: url('../021_Pantalla_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:200px;
    top:178px;
    width:32px;
    height:32px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u65 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../021_Pantalla_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:242px;
    top:178px;
    width:32px;
    height:32px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u67 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:907px;
    top:92px;
    width:85px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:973px;
    top:89px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:740px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

