body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:105px;
    width:149px;
    height:1002px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:1008px;
}

.u1 {
    position:absolute;
    left:2px;
    top:493px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:105px;
    top:368px;
    width:119px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:150px;
    top:262px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:108px;
    top:287px;
    width:137px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:108px;
    top:337px;
    width:137px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:138px;
    top:391px;
    width:78px;
    height:18px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_normal {
    background-image: url('../Home_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:249px;
    top:0px;
    width:1100px;
    height:105px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:111px;
}

.u8 {
    position:absolute;
    left:2px;
    top:44px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_container {
    position:absolute;
    left:100px;
    top:0px;
    width:149px;
    height:105px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:105px;
}

.u10 {
    position:absolute;
    left:2px;
    top:44px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:101px;
    top:222px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:129px;
    top:322px;
    width:95px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:103px;
    top:239px;
    width:144px;
    height:21px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:144px;
    height:21px;
    
}

.u14 {
    position:absolute;
    left:0px;
    top:6px;
    width:148px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:625px;
    top:287px;
    width:381px;
    height:105px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:381px;
    height:105px;
}

.u16 {
    position:absolute;
    left:2px;
    top:44px;
    width:377px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

