body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:520px;
    top:43px;
    width:293px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../016_CatFlujos_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:272px;
    top:265px;
    width:32px;
    height:32px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u2 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:249px;
    top:102px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:391px;
    top:98px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_normal {
    background-image: url('../016_CatFlujos_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:314px;
    top:265px;
    width:32px;
    height:32px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../016_CatFlujos_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:686px;
    height:3px;
}

.u7 {
    position:absolute;
    left:220px;
    top:77px;
    width:686px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:503px;
    top:179px;
    width:85px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:569px;
    top:176px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../016_CatFlujos_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:348px;
    top:303px;
    width:520px;
    height:33px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:520px;
    height:33px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:592px;
    top:102px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:739px;
    top:98px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:567px;
    top:221px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:457px;
    top:221px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u16 {
    position:absolute;
    left:200px;
    top:336px;
    width:1034px;
    height:227px
}

.u17_normal {
    background-image: url('../016_CatFlujos_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:124px;
    height:38px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:44px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../016_CatFlujos_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:124px;
    top:0px;
    width:141px;
    height:38px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:44px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../016_CatFlujos_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:265px;
    top:0px;
    width:128px;
    height:38px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:44px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../016_CatFlujos_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:393px;
    top:0px;
    width:145px;
    height:38px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:44px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../016_CatFlujos_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:538px;
    top:0px;
    width:296px;
    height:38px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:44px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../016_CatFlujos_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:834px;
    top:0px;
    width:97px;
    height:38px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:44px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../016_CatFlujos_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:931px;
    top:0px;
    width:98px;
    height:38px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:44px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../016_CatFlujos_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:38px;
    width:124px;
    height:52px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:58px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../016_CatFlujos_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:124px;
    top:38px;
    width:141px;
    height:52px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:58px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../016_CatFlujos_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:265px;
    top:38px;
    width:128px;
    height:52px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:58px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../016_CatFlujos_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:393px;
    top:38px;
    width:145px;
    height:52px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:58px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../016_CatFlujos_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:538px;
    top:38px;
    width:296px;
    height:52px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:58px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:292px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../016_CatFlujos_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:834px;
    top:38px;
    width:97px;
    height:52px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../016_CatFlujos_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:931px;
    top:38px;
    width:98px;
    height:52px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:58px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../016_CatFlujos_files/u31_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:90px;
    width:124px;
    height:52px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:58px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../016_CatFlujos_files/u33_normal.png');
}

.u47_container {
    position:absolute;
    left:124px;
    top:90px;
    width:141px;
    height:52px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:58px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../016_CatFlujos_files/u35_normal.png');
}

.u49_container {
    position:absolute;
    left:265px;
    top:90px;
    width:128px;
    height:52px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:58px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../016_CatFlujos_files/u37_normal.png');
}

.u51_container {
    position:absolute;
    left:393px;
    top:90px;
    width:145px;
    height:52px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:58px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../016_CatFlujos_files/u39_normal.png');
}

.u53_container {
    position:absolute;
    left:538px;
    top:90px;
    width:296px;
    height:52px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:58px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:292px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../016_CatFlujos_files/u41_normal.png');
}

.u55_container {
    position:absolute;
    left:834px;
    top:90px;
    width:97px;
    height:52px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../016_CatFlujos_files/u43_normal.png');
}

.u57_container {
    position:absolute;
    left:931px;
    top:90px;
    width:98px;
    height:52px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:58px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../016_CatFlujos_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:142px;
    width:124px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../016_CatFlujos_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:124px;
    top:142px;
    width:141px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../016_CatFlujos_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:265px;
    top:142px;
    width:128px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../016_CatFlujos_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:393px;
    top:142px;
    width:145px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../016_CatFlujos_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:538px;
    top:142px;
    width:296px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../016_CatFlujos_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:834px;
    top:142px;
    width:97px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../016_CatFlujos_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:931px;
    top:142px;
    width:98px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../016_CatFlujos_files/u59_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:162px;
    width:124px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../016_CatFlujos_files/u61_normal.png');
}

.u75_container {
    position:absolute;
    left:124px;
    top:162px;
    width:141px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../016_CatFlujos_files/u63_normal.png');
}

.u77_container {
    position:absolute;
    left:265px;
    top:162px;
    width:128px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../016_CatFlujos_files/u65_normal.png');
}

.u79_container {
    position:absolute;
    left:393px;
    top:162px;
    width:145px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../016_CatFlujos_files/u67_normal.png');
}

.u81_container {
    position:absolute;
    left:538px;
    top:162px;
    width:296px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../016_CatFlujos_files/u69_normal.png');
}

.u83_container {
    position:absolute;
    left:834px;
    top:162px;
    width:97px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../016_CatFlujos_files/u71_normal.png');
}

.u85_container {
    position:absolute;
    left:931px;
    top:162px;
    width:98px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../016_CatFlujos_files/u59_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:182px;
    width:124px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../016_CatFlujos_files/u61_normal.png');
}

.u89_container {
    position:absolute;
    left:124px;
    top:182px;
    width:141px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../016_CatFlujos_files/u63_normal.png');
}

.u91_container {
    position:absolute;
    left:265px;
    top:182px;
    width:128px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../016_CatFlujos_files/u65_normal.png');
}

.u93_container {
    position:absolute;
    left:393px;
    top:182px;
    width:145px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../016_CatFlujos_files/u67_normal.png');
}

.u95_container {
    position:absolute;
    left:538px;
    top:182px;
    width:296px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../016_CatFlujos_files/u69_normal.png');
}

.u97_container {
    position:absolute;
    left:834px;
    top:182px;
    width:97px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../016_CatFlujos_files/u71_normal.png');
}

.u99_container {
    position:absolute;
    left:931px;
    top:182px;
    width:98px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../016_CatFlujos_files/u59_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:202px;
    width:124px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../016_CatFlujos_files/u61_normal.png');
}

.u103_container {
    position:absolute;
    left:124px;
    top:202px;
    width:141px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../016_CatFlujos_files/u63_normal.png');
}

.u105_container {
    position:absolute;
    left:265px;
    top:202px;
    width:128px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../016_CatFlujos_files/u65_normal.png');
}

.u107_container {
    position:absolute;
    left:393px;
    top:202px;
    width:145px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../016_CatFlujos_files/u67_normal.png');
}

.u109_container {
    position:absolute;
    left:538px;
    top:202px;
    width:296px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../016_CatFlujos_files/u69_normal.png');
}

.u111_container {
    position:absolute;
    left:834px;
    top:202px;
    width:97px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../016_CatFlujos_files/u71_normal.png');
}

.u113_container {
    position:absolute;
    left:931px;
    top:202px;
    width:98px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_container {
    position:absolute;
    left:1163px;
    top:379px;
    width:25px;
    height:25px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u116 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_container {
    position:absolute;
    left:1162px;
    top:416px;
    width:25px;
    height:25px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u118 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:677px;
    top:221px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:294px;
    top:143px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:385px;
    top:138px;
    width:186px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122 {
    position:absolute;
    left:739px;
    top:133px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u123 {
    position:absolute;
    left:592px;
    top:138px;
    width:119px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u124 {
    position:absolute;
    left:354px;
    top:110px;
    width:510px;
    height:420px;
    overflow:hidden;
}

#pd0u124 {
    position:absolute;
    left:0px;
    top:0px;
    width:510px;
    height:420px;
    
}

.u125_container {
    position:absolute;
    left:0px;
    top:28px;
    width:508px;
    height:389px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:508px;
    height:389px;
}

.u126 {
    position:absolute;
    left:2px;
    top:186px;
    width:504px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../016_CatFlujos_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:508px;
    height:28px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:508px;
    height:28px;
}

.u128 {
    position:absolute;
    left:2px;
    top:6px;
    width:504px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

